.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 5%;
    background-color: #7981ab;
}

.search-bar {
    max-width: 400px;
    width: 60%;
    min-width: 100px;
    margin: 0 auto;
    position: relative;
}

.search-bar > input {
    width: 80%;
    min-width: 170px;
    padding: 5px 5px 5px 32px;
    border-radius: 7px;
    border: 1px solid black;
}

.search-bar > .icon-search {
    position: absolute;
    top: 5px;
    left: 5px;
    pointer-events: none;
}

.search-button {
    margin-left: 10px;
    padding: 5px 16px;
    border-radius: 7px;
    border: 1px solid black;
    font-weight: 700;
    background-color: #de1212;
    color: white;
    cursor: pointer;
    transition-duration: 150ms;
}

button.search-button:hover {
    background-color: red;
}

.videos {
    margin-top: 20px;
    overflow-x: hidden;
}

.inner__videos {
    display: flex;
}

.video {
    flex-shrink: 0;
    text-align: center;
}

a.video__title {
    display: block;
    color: black;
    text-decoration: none;
    transition-duration: 100ms;
}

a.video__title:hover,
a.video__title:active {
    color: #0722b1;
}

img.video__preview {
    width: 100%;
    max-width: 320px;
    max-height: 180px;
    pointer-events: none;
}

.video__param {
    width: 80%;
    margin: 0 auto;
}

.video__param__value {
    margin-left: 10px;
}

.video__description {
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

.dots {
    margin-top: 20px;
    text-align: center;
}

.dots--swiping > .dot{
    color: #19af2d
}

@media (max-width: 620px) {
    .search-bar {
        width: 90%;
    }
}

@media (max-width: 420px) {
    .search-bar > input {
        width: 70%;
    }
}
